# 판다스 연산
## 시리즈 연산

- 시리즈 vs 숫자 : 시리즈의 모든 원소에 개별적 접근
- series + 1
- series1 + series2
- series3 = series1.add(series2, fill_vlaue = )
- 크기가 다른 경우 없는 것은 NaN, 또는 fill_value를 활용한다.
- 크기가 같으나 인덱스 이름이 다른 경우, 어느 한쪽 다른면 NaN을 반환
- pd.DataFrame([series1, series2,... ]) series간의 인덱스이름은 반드시 같아야 하며, 인덱스가 열로 배치됨

In [1]:
import pandas as pd
dict_data = {'a' : 100, 'b' : 70, 'c' : 50}
series = pd.Series(dict_data)
print(series)
print("\n")

add_series = series + 1 #모든 원소에 접근
print(add_series)
print("\n")

percent_series = series / 100
print(percent_series)
print("\n")

a    100
b     70
c     50
dtype: int64


a    101
b     71
c     51
dtype: int64


a    1.0
b    0.7
c    0.5
dtype: float64

In [1]:
#시리즈 vs 시리즈 : 같은 위치끼리의 연산
import pandas as pd
dict_data1 = {'a' : 100, 'b' : 70, 'c' : 50 }
dict_data2 = {'a' : 80, 'b' : 10, 'c' : 40}
series1 = pd.Series(dict_data1)
series2 = pd.Series(dict_data2)
print(series1)
print("\n")
print(series2)
print("\n")

add = series1 + series2 
sub = series1 - series2
multi = series1 * series2
divi = series1 / series2

result = pd.DataFrame([add, sub, multi, divi]) #pd.DataFrame([시리즈1, 시리즈2,...])
#시리즈를 모아 데이터 프레임을 만드는 경우 반드시 시리즈간 index는 같아야한다. 
#index가 열의 위치로 가고 각 시리즈는 한개의 행을 구성한다.
print(result)

a    100
b     70
c     50
dtype: int64


a    80
b    10
c    40
dtype: int64


         a      b        c
0   180.00   80.0    90.00
1    20.00   60.0    10.00
2  8000.00  700.0  2000.00
3     1.25    7.0     1.25

In [3]:
#인덱스에 해당하는 값이 없을때, fill_value를 사용하여 산술연산을 수행한다.
import pandas as pd

dict_data1 = {'a' : 100, 'b' : 70, 'c' : 50 }
dict_data2 = {'a' : 80, 'b' : 10}
series1 = pd.Series(dict_data1)
series2 = pd.Series(dict_data2)

print(series1)
print("\n")
print(series2)
print("\n")

#값이 없을때 (시리즈 간의 크기가 다를 때) 시리즈 간의 연산은 fill_value를 사용한다.
#시리즈 간의 크기가 다르고 fill_value 인자를 사용하지 않아도 연산은 가능하다. (NaN)으로 뜰 뿐
add = series1.add(series2, fill_value = 50) #series1 + series2 와 같은 결과, 다만 이건 fill_value인자 추가 가능
sub = series1.sub(series2, fill_value = 50)
multi = series1.mul(series2, fill_value = 50)
divi = series1.div(series2, fill_value = 50)

result = pd.DataFrame([add,sub,multi,divi])
print(result)

a    100
b     70
c     50
dtype: int64


a    80
b    10
dtype: int64


         a      b       c
0   180.00   80.0     NaN
1    20.00   60.0     0.0
2  8000.00  700.0  2500.0
3     1.25    7.0     1.0

In [7]:
#두 시리즈의 원소의 개수가 다르거나, 인덱스가 서로 맞지 않는 경우에도 연산은 가능함 
#인덱스가 맞지 않는 경우 NaN을 반환한다. 
dict_data1 = {'a' : 100, 'b' : 70, 'c' : 50 }
dict_data2 = {'b' : 80, 'c' : 10, 'd' : 40 }
series1 = pd.Series(dict_data1)
series2 = pd.Series(dict_data2)

print(series1)
print("\n")
print(series2)
print("\n")

add = series1.add(series2)
print(add) #정수형 인덱스는 다르더라도 인덱스 이름이 같다면 연산을 수행함.
sub = series1.sub(series2)
multi = series1.mul(series2)
divi = series1.div(series2)

result = pd.DataFrame([add,sub,multi,divi], index = ['add', 'sub', 'mul', 'div'])
print(result)

a    100
b     70
c     50
dtype: int64


b    80
c    10
d    40
dtype: int64


a      NaN
b    150.0
c     60.0
d      NaN
dtype: float64
      a         b      c   d
add NaN   150.000   60.0 NaN
sub NaN   -10.000   40.0 NaN
mul NaN  5600.000  500.0 NaN
div NaN     0.875    5.0 NaN

## 데이터프레임 연산
- 데이터프레임 vs 숫자
- df.head()
- seaborn.load_dataset('데이터이름') :: 해당 데이터프레임을 불러온다.
- df.loc[: , [col1, col2,..]]

In [8]:
import pandas as pd
import seaborn as sns

iris = sns.load_dataset('iris') #seaborn에서 'iris' 데이터 프레임을 iris에 할당한다.
print(iris.head()) #iris 데이터프레임의 상위 5개를 보여준다. 
print("\n")

df = iris.loc[: , ['sepal_length', 'sepal_width']]
#df.loc[]이 기본 set이며 df.loc[행,열]이다. 그래서 df.loc['name1']이라면 행만 선택이 되는 것 
#이때 행(열)을 (,)로 복수 선택하고 싶다면, []리스트 구조로 해야한다.
print(df.head())
print("\n")

df = df + 1 # 데이터프레임 vs 숫자 : 각 원소에 접근한다.
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa


   sepal_length  sepal_width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6


   sepal_length  sepal_width
0           6.1          4.5
1           5.9          4.0
2           5.7          4.2
3           5.6          4.1
4           6.0          4.6

- 데이터프레임 vs 데이터프레임

In [9]:
import pandas as pd
import seaborn as sns

iris = sns.load_dataset('iris') 
print(iris.head())
print("\n")

df = iris.loc[: , ['sepal_length', 'sepal_width']]
print(df.head())
print("\n")

addition = df + 1
print(addition.head())

sub = addition - df
print(sub.head())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa


   sepal_length  sepal_width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6


   sepal_length  sepal_width
0           6.1          4.5
1           5.9          4.0
2           5.7          4.2
3           5.6          4.1
4           6.0          4.6
   sepal_length  sepal_width
0           1.0          1.0
1           1.0          1.0
2           1.0          1.0
3           1.0          1.0
4           1.0          1.0

In [11]:
#데이터 프레임의 행과 열이 같지 않더라도 연산은 가능하다.
#행과 열이 다르면 NaN
import pandas as pd
import seaborn as sns

iris = sns.load_dataset('iris')
print(iris.head())
print("\n")

# sepal_length  sepal_width  petal_length  petal_width 
df1 = iris.loc[:,['sepal_length','sepal_width']]
print(df1.head())
print("\n")

df2 = iris.loc[:,['sepal_width', 'petal_length']]
print(df2.head())
print("\n")

add = df1 + df2
print(add.head())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa


   sepal_length  sepal_width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6


   sepal_width  petal_length
0          3.5           1.4
1          3.0           1.4
2          3.2           1.3
3          3.1           1.5
4          3.6           1.4


   petal_length  sepal_length  sepal_width
0           NaN           NaN          7.0
1           NaN           NaN          6.0
2           NaN           NaN          6.4
3           NaN           NaN          6.2
4           NaN           NaN          7.2

---------------------  
---------------------  
---------------------

# 데이터 프레임 구조
- 데이터를 처음 불러오면 데이터에 대해 전반적인 내용을 확인해야함.
- 전체 데이터 내용 가운데 일부를 미리 확인 : df.head() df.tail()
- 데이터프레임의 크기와 기본정보, 요약 정보 등을 파악 
- 데이터프레임 내 개별 열(column)의 데이터에 대한 정보를 파악 : 전체 데이터 개수, 고유값 개수

## 데이터 정보 살펴보기
- df.head(), df.tail()
- df.shape
- df.info() :: shape, 각 열의 이름, non-NaN의 개수, 데이터 타입
- df.dtypes
- df.colname.dtypes

In [1]:
import pandas as pd
import seaborn as sns

iris = sns.load_dataset("iris")
print(iris.head(10)) #인자를 넣지 않으면 default 5 를 반환한다. 
print("\n")
print(iris.tail(10))
print("\n")

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa


     sepal_length  sepal_width  petal_length  petal_width    species
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [4]:
#데이터프레임의 크기(행/열)
print(iris.shape)

(150, 5)

In [6]:
#데이터프레임 정보 : shape, 열 이름, 각 열의 non - NaN 개수, 각 열의 datatype
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:
#데이터 타입
#int, float, object(=string), datetime 등 다양한 타입 존재함.
print(iris.dtypes) #각 열의 데이터타입을 출력한다.
print("\n")
print(iris.sepal_width.dtypes) #df.colname.dtypes : 해당 열의 데이터 타입을 출력한다.

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object


float64

## 데이터프레임 통계 정보
- df.describe()
- df.describe(include = 'all')

In [8]:
print(iris.describe()) #object은 제외하고 보여줌 
#count(데이터의 개수),  mean, std, min, ,max  25%, 50%, 70%
print("\n")

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [11]:
#df.describe(include = 'all') 모든 열의 정보를 보여줌 (object 포함) + unique(고유값의 개수) , top(최빈값)
print(iris.describe(include = 'all'))

        sepal_length  sepal_width  petal_length  petal_width species
count     150.000000   150.000000    150.000000   150.000000     150
unique           NaN          NaN           NaN          NaN       3
top              NaN          NaN           NaN          NaN  setosa
freq             NaN          NaN           NaN          NaN      50
mean        5.843333     3.057333      3.758000     1.199333     NaN
std         0.828066     0.435866      1.765298     0.762238     NaN
min         4.300000     2.000000      1.000000     0.100000     NaN
25%         5.100000     2.800000      1.600000     0.300000     NaN
50%         5.800000     3.000000      4.350000     1.300000     NaN
75%         6.400000     3.300000      5.100000     1.800000     NaN
max         7.900000     4.400000      6.900000     2.500000     NaN

## 각 열의 고유값 개수 확인하기 
- df[col].nunique(), series.nunique
- columns = df.columns
- for column in columns: df[column].nunique()

In [19]:
columns = iris.columns #열의 이름만 따로 모음
print(columns)
#df.index, df.columns
#series.index, series.values

#각 열의 고유값 개수 :: 고유값 개수 :: 1,1,2,2,3 이면 고유값 개수는 3
print("\n")
for column in columns:
    unique_count = iris[column].nunique() #df[열이름].nunique()
                                          #각 열(시리즈) 추출하는 코드 암기 
    print("열 {} 의 고유값 개수 : {}".format(column, unique_count))

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')


열 sepal_length 의 고유값 개수 : 35
열 sepal_width 의 고유값 개수 : 23
열 petal_length 의 고유값 개수 : 43
열 petal_width 의 고유값 개수 : 22
열 species 의 고유값 개수 : 3

## 데이터 개수 확인하기
- df.count()

In [1]:
import pandas as pd
import seaborn as sns
iris = sns.load_dataset('iris')
count_iris = iris.count() # df.count() 각 열의 이름이 index이고 , 각 열의 데이터 수를 value로 가지는 시리즈 반환
print(count_iris)
print("\n")
print(type(count_iris))

sepal_length    150
sepal_width     150
petal_length    150
petal_width     150
species         150
dtype: int64


<class 'pandas.core.series.Series'>

## 각 열의 고유값 확인하기
- df[col].value_counts()
- len(시리즈)

In [3]:
unique_count = iris['species'].value_counts()
print(unique_count)
print("\n")
print(type(unique_count))
#df[col].value_counts() :: 시리즈의 각 데이터가 몇개있는지 반환함. (시리즈로 반환)
print("\n")
print("species 고유값의 개수 :",len(unique_count))
#len(시리즈) : 시리즈 행의 개수를 반환한다.
#df[특정 열].value_counts() --> 이 시리즈의 열의 수는 곧 고유값의 수 
#따라서 len(위의 시리즈) :: 고유값의 개수

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64


<class 'pandas.core.series.Series'>


species 고유값의 개수 : 3

--------------------------  
--------------------------  
--------------------------

# 데이터 통계 추출
- 데이터에 대한 각 종 통계 데이터를 추출할 수 있는 메소드가 데이터프레임에 존재
- 전체합, 평균값, 표준편차, 중간값, 최대값, 최소값, 상관계수
- int,float 타입의 데이터에 주로 적용되지만 일부 메소드는 object에도 사용 가능함.

## 전체합
- df.sum()
- df[col].sum()

In [4]:
import pandas as pd
import seaborn as sns

iris = sns.load_dataset('iris')
print(iris.head())
print('\n')
print(iris.sum())
#각 열별로 데이터를 합하고 시리즈로 반환 
print('\n')
print('sepal_length 총합', iris['sepal_length'].sum())
#열만 따로 뽑아서 적용 가능함.

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa


sepal_length                                                876.5
sepal_width                                                 458.6
petal_length                                                563.7
petal_width                                                 179.9
species         setosasetosasetosasetosasetosasetosasetosaseto...
dtype: object


sepal_length 총합 876.5

## 평균값
- df.mean()
- df[col].mean()

In [6]:
import pandas as pd
import seaborn as sns

iris = sns.load_dataset('iris')
print(iris.head())
print('\n')

print(iris.mean())
print("\n")
print('sepal_length의 평균 : ', iris['sepal_length'].mean())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa


sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64


sepal_length의 평균 :  5.843333333333335

C:\Users\khsls\AppData\Local\Temp\ipykernel_440\3153802875.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(iris.mean())

## 표준편차
- mean, sum 과 사용법 같음. std()메소드 사용 
- df.std()
- df[col].std()

In [2]:
import pandas as pd
import seaborn as sns

iris = sns.load_dataset('iris')
print(iris.head())
print('\n')

print(iris.std())
print("\n")
print('sepal_length의 표준편차: ', iris['sepal_length'].std())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa


sepal_length    0.828066
sepal_width     0.435866
petal_length    1.765298
petal_width     0.762238
dtype: float64


sepal_length의 표준편차:  0.8280661279778629

C:\Users\khsls\AppData\Local\Temp\ipykernel_11996\3444257553.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(iris.std())

## 중간값
- df.median(), df[col].median()
- 차순 정리 한다음 순서상 중간값이 중간값

In [3]:
import pandas as pd
import seaborn as sns

iris = sns.load_dataset('iris')
print(iris.head())
print('\n')

print(iris.median())
print("\n")
print('sepal_length의 중간값 : ', iris['sepal_length'].median())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa


sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64


sepal_length의 중간값 :  5.8

C:\Users\khsls\AppData\Local\Temp\ipykernel_11996\919482960.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(iris.median())

## 최대값, 최소값
- df.max()
- df[col].max()

In [4]:
import pandas as pd
import seaborn as sns

iris = sns.load_dataset('iris')
print(iris.head())
print('\n')

print(iris.max())
print("\n")
print('sepal_length의 최대값 : ', iris['sepal_length'].max())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa


sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object


sepal_length의 최대값 :  7.9

## 상관계수
- 두 열을 한쌍으로 하여 두 변수(열임. 행아님!)간의 상관계수(r)을 계산함 
- 양의 상관관계 : r > 0 , 음의 상관관계 : r < 0, 두 변수가 독립인 경우 r = 0 
- 양의 상관관계 : 증가면 증가 
- df.corr()
- df[['col1','col2']].corr()

In [6]:
print(iris.corr())  #열이 n개라면 n x n table 형성됨 
print("\n")

#특정 두열의 상관 계수
print(iris[["sepal_length", "petal_length"]].corr())

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000


sepal_length    1.0
sepal_width     1.0
petal_length    1.0
petal_width     1.0
dtype: float64
              sepal_length  petal_length
sepal_length      1.000000      0.871754
petal_length      0.871754      1.000000

--------------------  
--------------------  
--------------------

# 데이터 입출력
## 데이터 읽어오기
- 판다스는 다양한 형태의 외부파일을 데이터 프레임으로 읽어올 수 있음 
- 반대로 데이터 프레임을 다양한 유형의 파일로 저장할 수도 있음.
- 지원파일 (csv, json, excel, / html, sql, ...)

## csv파일
- comma seperated value
- 데이터를 콤마로 분류 
- 파일 경로 지정 방법
- pdf.read_csv(file_path, header = None, index_col = 'col1')

In [19]:
import pandas as pd

#보통 파일 경로를 먼저 변수로 지정한다.
#같은 디렉토리에 있는 경우 경로는 './파일명.확장자' -->'./read_sample1.csv'
#다른 디렉토리에 있는 경우 풀 경로를 그대로 '풀경로/파일명.확장자'--> 'C://khsls/read_sample1.csv'
#역슬래쉬가 아니라 (/) 그냥 슬래쉬를 사용한다.

#default 첫 행은 col로 사용되고 index는 정수형 인덱스 
file_path = './read_sample1.csv'
df1 = pd.read_csv(file_path) #pd.read_csv(파일 경로)
print(df1)
print("\n")

#header = None인자를 추가하면 첫줄은 그냥 행을 구성하고 col은 정수형으로 배치된다.

df2 = pd.read_csv(file_path, header=None)
print(df2)
print("\n")

#특정열을 인덱스 이름으로 지정가능하다.

df3 = pd.read_csv(file_path, index_col = 'col1') #인덱스이름은 디폴트로 정수형 인덱스 이지만 
                                                 #열 'col1'을 인덱스 이름으로 한다.
                                                 #헤더 지정하지 않으면 첫행은 열의 이름을 구성한다.
print(df3)

   col1  col2  col3  col4
0     0     1     2     3
1     4     5     6     7
2     8     9    10    11
3    12    13    14    15


      0     1     2     3
0  col1  col2  col3  col4
1     0     1     2     3
2     4     5     6     7
3     8     9    10    11
4    12    13    14    15


      col2  col3  col4
col1
0        1     2     3
4        5     6     7
8        9    10    11
12      13    14    15

## excel 파일
- pip(conda) install openpyxl 라이브러리 설치 후 엑셀 파일 로드 해야함.
- df.read_excel(file_path, engine = 'openpyxl', header = None, index_col = 'col1')

In [21]:
import pandas as pd 
file_path = './read_sample1.xlsx'

#나머지는 csv파일 읽는 것과 같지만 
#엑셀파일을 읽을 때는 인자로 engine = 'openpyxl'반드시 있어야 한다.

df1 = pd.read_excel(file_path, engine = 'openpyxl')
print(df1)
print("\n")

#이름을 인덱스 이름으로 사용하고 싶음.

df2 = pd.read_excel(file_path, index_col = '이름')
print(df2)

   이름 성별  연령   점수  졸업연도
0  기리  남  30   90  2010
1  혜리  여  25   80  2015
2  동엽  남  50  100  1982
3  동현  남  40   50  1993
4  한해  남  32   70  2008


   성별  연령   점수  졸업연도
이름
기리  남  30   90  2010
혜리  여  25   80  2015
동엽  남  50  100  1982
동현  남  40   50  1993
한해  남  32   70  2008

## json 파일
- key : value 구조를 갖는 특수한 파일 형식 
- 딕셔너리로 시리즈를 만드는 것에서 col이름만 추가된 형식임.
- { 'col1' : {'a' : 1, 'b' : 2, 'c' : 3}, 'col2' : { } ... } 구조

In [24]:
file_path = './read_sample1.json'
df = pd.read_json(file_path)
print(df)
print("\n")
print(df.index)

   gender  age  year  student
기범     남자   30  1991     True
혜리     여자   25  1994     True
동엽     남자   50  1971    False


Index(['기범', '혜리', '동엽'], dtype='object')

## 데이터 출력하기
## csv파일
- df.set_index('열이름', inplace = True)
- df.to_csv(파일명경로)

In [3]:
import pandas as pd
dict_data = {
    '이름' : ['기범', '혜리', '동엽'],
    '국어' : [100,80,30],
    '수학' : [90,80,50],
    '영어' : [100,40,90],
    '음악' : [80,100,40]
}

df = pd.DataFrame(dict_data)
df.set_index('이름', inplace = True)
#데이터 프레임을 만들면서 index 인자를 추가로 넣어도 되지만
#다 만든 데이터 프레임에서 특정열을 index이름으로 사용가능하다.
#inplace = True 인자가 없으면 index이름으로 표시되지 않으므로 반드시 필요!
print(df)
df.to_csv('./write_sample1.csv')
#현재 디렉토리에 만들고 싶은 경우 ./
#확장자명까지

     국어  수학   영어   음악
이름
기범  100  90  100   80
혜리   80  80   40  100
동엽   30  50   90   40

## excel 파일 
- df.to_excel(파일명경로)

In [4]:
dict_data = {
    '이름' : ['기범', '혜리', '동엽'],
    '국어' : [100,80,30],
    '수학' : [90,80,50],
    '영어' : [100,40,90],
    '음악' : [80,100,40]
}

df = pd.DataFrame(dict_data)
df.set_index('이름' , inplace = True)
print(df)

df.to_excel('./write_excel.xlsx')

     국어  수학   영어   음악
이름
기범  100  90  100   80
혜리   80  80   40  100
동엽   30  50   90   40

## json 파일
- with open(file_path, 'w', encoding = 'utf-8') as file: (enter) df.to_json(file,ascii = False)

In [8]:
dict_data = {
    '이름' : ['기범', '혜리', '동엽'],
    '국어' : [100,80,30],
    '수학' : [90,80,50],
    '영어' : [100,40,90],
    '음악' : [80,100,40]
}

df = pd.DataFrame(dict_data)
df.set_index('이름' , inplace = True)
print(df)

# df.to_json('./write_json.json')
# json의 경우 이렇게 하면 파일은 만들어 지지만 한글이 깨짐.
# json의 경우 아래 방식을 따르도록 한다.

#1. file_path 지정 
file_path = './write_json.json'

#with open as 구문 
with open(file_path, 'w', encoding = 'utf-8') as file:
    df.to_json(file, force_ascii = False)
    
#with open(경로파일명, 'w', encoding='utf-8') as file:
   # df.to_json(file, ascii = False)

     국어  수학   영어   음악
이름
기범  100  90  100   80
혜리   80  80   40  100
동엽   30  50   90   40